.dashboard-page {

}

/*------------------------------*/
/*statistics block*/
/*------------------------------*/
.dashboard-page .statistics-block {
    width: 100%;
    height: 194px;
    margin: 0 0 35px 0;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    background-color: #1E1E1E;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
}

.dashboard-page .statistics-block .statistics-information {
    height: 135px;
    width: 18%;
    border-radius: 3px;
    background-color: #313131;
    box-shadow: 0 5px 32px 0 rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard-page .statistics-block .statistics-information {
    height: 135px;
    width: 18%;
    padding: 15px 20px 30px 20px;
    border-radius: 3px;
    background-color: #313131;
    box-shadow: 0 5px 32px 0 rgba(0, 0, 0, 0.23);
}

.dashboard-page .statistics-block .statistics-information .title {
    margin: 0 0 0 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.4px;
}

.dashboard-page .statistics-block .statistics-information .value {
    text-align: center;
    margin: 20px 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2.5px;
}

/*------------------------------*/
/*latest-operations-block*/
/*------------------------------*/
.dashboard-page .latest-operations-block {
    display: flex;
    justify-content: space-between;
}

.dashboard-page .latest-operations-block .latest-operation {
    width: 48%;
    padding: 15px 35px;
    border-radius: 3px;
    background-color: #1E1E1E;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
}

.dashboard-page .latest-operations-block .latest-operation .header-block {
    width: 100%;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
}

.dashboard-page .latest-operations-block .latest-operation .header-block h3 {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.4px;
    margin: 0 0 0 15px;
}

.dashboard-page .latest-operations-block .latest-operation .header-block .admin-btn {
    background: #4A998C;
}

.dashboard-page .latest-operations-block .latest-operation .header-block .admin-btn a {
    color: #fff;
}