@import "../AdminPanel/Users/users.css";
@import "../AdminPanel/Settings/settings.css";
@import "../AdminPanel/Dashboard/dashboard.css";
@import "../AdminPanel/TradeHistory/trade-history.css";
@import "../AdminPanel/News/news.css";
@import "../AdminPanel/AdminWallet/admin-wallet.css";
@import "../AdminPanel/Comissions/commissions.css";
@import "../AdminPanel/AllReport/all-report.css";

.admin-version .w-header,
.admin-version .w-footer {
    display: none;
}

.admin-version .w-content,
.admin-version .size-container {
    padding: 0;
    /*margin: 0;*/
    /*max-width: initial;*/
    display: flex;
    background: none !important;
}

.admin-panel {
    width: 100%;
    height: 100%;
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 120px auto;
    grid-template-rows: 90px auto;
    grid-template-areas: "navBar adminHeader" "navBar adminContent";
}

.admin-panel .admin-content {
    grid-area: adminContent;
}

.admin-panel .admin-header {
    grid-area: adminHeader;
}

.admin-panel .nav-bar {
    grid-area: navBar;
}

.admin-panel .admin-content {
    padding: 12px 0 0 0;
}

.admin-panel .admin-btn {
    height: 26px;
    width: 110px;
    background: #313131;
    border: 1px solid #4A998C;
    border-radius: 3px;
    color: #fff;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 1.2px;
    cursor: pointer;
}

.admin-panel .green-btn {
    background: #4A998C;
}

.admin-panel .response-side {
    width: 100%;
    padding: 35px;
    border-radius: 3px;
    background-color: #1E1E1E;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
}

.admin-panel .admin-btn:hover {
    background: linear-gradient(215.51deg, #255E55 0%, #4A998C 100%);
}

.admin-panel input,
.admin-panel .ant-select-selection {
    background: none;
    height: 32px;
    border: 1px solid #979797;
    border-radius: 4px;
    color: #fff !important;
}

/*select*/
.ant-select-selection:focus,
.ant-select-selection:hover {
    box-shadow: none !important;
    border-color: #979797 !important;
}

.admin-panel .ant-select-arrow {
    color: #4A998C !important;
}

.admin-panel input::placeholder,
.ant-select-selection__placeholder {
    color: rgba(125, 125, 125, 0.31) !important;
}

.ant-select-selection-selected-value {
    color: #fff !important;
}

.ant-select-dropdown {
    background: #1E1E1E !important;
    border: 1px solid #979797;
}

.ant-select-dropdown li {
    color: #fff !important;
}

.ant-select-dropdown li:hover {
    background: #181818 !important;
}

.ant-select-dropdown-menu-item-selected,
.ant-select-dropdown-menu-item-active {
    background: #181818 !important;
}

/*----------------------------------*/
/*date picker*/
.ant-calendar-picker-input {
    background: none !important;
    border: 1px solid #979797 !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
}

.ant-calendar-picker-input input {
    border: 0;
    height: 30px !important;
}

.ant-calendar-range-picker-separator,
.ant-calendar-range-middle {
    color: #979797 !important;
    height: initial !important;
    vertical-align: initial !important;
}

.ant-calendar-picker-icon:after {
    color: #979797 !important;
}

.ant-calendar-picker-clear {
    background: #1E1E1E !important;
    color: #979797 !important;
}

.ant-calendar {
    background: #1E1E1E !important;
    border: 1px solid #979797 !important;
    color: #fff !important;
}

.ant-calendar-range .ant-calendar-input, .ant-calendar-range .ant-calendar-time-picker-input {
    background: none !important;
    color: #fff !important;
}

.ant-calendar-last-month-cell .ant-calendar-date {
    color: rgba(125, 125, 125, 0.31) !important;
}

.ant-calendar-cell .ant-calendar-date {
    color: #fff !important;
}

.ant-calendar-selected-date .ant-calendar-date,
.ant-calendar-selected-start-date .ant-calendar-date {
    background: #4A998C !important;
}

.ant-calendar-date:hover,
.ant-calendar-range .ant-calendar-in-range-cell:before {
    background: rgba(74, 153, 140, 0.4) !important;
}

.ant-calendar-month-select,
.ant-calendar-year-select,
.ant-calendar-prev-year-btn,
.ant-calendar-prev-month-btn,
.ant-calendar-next-month-btn,
.ant-calendar-next-year-btn {
    color: #fff !important;
}

/*----------------------------------*/
/*pagination*/
.ant-pagination li {
    background: none;
    border: 1px solid #4A998C;
    color: #fff;
}

.ant-pagination li.ant-pagination-item-active {
    background: linear-gradient(215.51deg, #255E55 0%, #4A998C 100%);
}

.ant-pagination li a {
    color: #fff;
}

.ant-pagination .ant-pagination-item-link {
    background: none !important;
    border: 0 !important;
}

.ant-pagination .ant-pagination-jump-prev:after, .ant-pagination-jump-next:after {
    color: #fff !important;
}

.ant-pagination-item:focus,
.ant-pagination-item:hover {
    border: 1px solid #4A998C !important;
}

.ant-pagination-item:focus a {
    color: #fff !important;
}

.ant-pagination-item:hover a {
    color: #4A998C !important;
}

.ant-pagination-disabled a {
    color: #979797 !important;
}

/*----------------------------------*/
/*table*/
.admin-panel .admin-table .ant-table-thead th,
.admin-panel .ant-table-thead > tr > th.ant-table-column-sort {
    background: none !important;
    text-align: center;
}

.admin-panel .ant-table-tbody tr > td {
    background-color: #313131;
    border-bottom: 5px solid #1E1E1E !important;
    border-top: 5px solid #1E1E1E !important;
    text-align: center;
}

.admin-panel .ant-table-tbody tr td:first-child {
    border-radius: 8px 0 0 8px !important;
}

.admin-panel .ant-table-tbody tr td:last-child {
    border-radius: 0 8px 8px 0 !important;
}

.admin-panel .ant-table-placeholder {
    background: #313131 !important;
    border-bottom: 1px solid #313131 !important;
}

.ant-table-column-sorter-down.on .anticon-caret-down {
    color: #4A998C !important;
}

/*----------------------------------*/

.admin-panel .search-block .search-input {
    display: flex;
    align-items: center;
    border: 1px solid #979797;
    border-radius: 4px;
}

.admin-panel .search-block .search-input input {
    height: 30px;
    border: 0;
}

.admin-panel .search-block .search-input i {
    color: #7D7D7D;
    margin: 0 12px;
}

/*------------------------------*/
/*NAV BAR*/
/*------------------------------*/
.admin-panel .nav-bar {
    background: #1A1A1A;
}

.admin-panel .nav-bar .logo {
    display: block;
    margin: 25px auto 35px auto;
}

.admin-panel .nav-bar ul.ant-menu-dark {
    background: none;
}

.admin-panel .nav-bar ul.ant-menu-dark li {
    height: max-content;
    margin: 0 !important;
    padding: 0 !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background: none !important;
}

.admin-panel .nav-bar a {
    display: block;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

.admin-panel .nav-bar a.active {
    background: #181818 !important;
}

.admin-panel .nav-bar a .link-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid rgba(151, 151, 151, 0.03);
}

.admin-panel .nav-bar a.active span {
    color: #4A998C !important;
}

.admin-panel .nav-bar a .menu-icon path {
    fill: #fff;
}

.admin-panel .nav-bar a.active .menu-icon path {
    fill: #4A998C;
}

.admin-panel .nav-bar a.active .menu-icon circle {
    stroke: #4A998C;
}

.admin-panel .nav-bar .ant-menu a .wrapper-svg-icon {
    height: 30px;
}

.admin-panel .nav-bar .ant-menu a span {
    margin: 7px 0 0 0;
    line-height: initial;
    color: #fff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
}

/*------------------------------*/
/*HEADER*/
/*------------------------------*/
.admin-panel .admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-panel .admin-header .current-page {
    display: flex;
    align-items: center;
}

.admin-panel .admin-header .current-page i {
    font-size: 20px;
    margin: 0 20px;
}

.admin-panel .admin-header .current-page .sub-link-name {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.8px;
}

.admin-panel .admin-header .current-page a {
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2.05px;
    color: #fff;
}

.admin-panel .admin-header .current-page .underline a {
    padding: 0 0 3px 0;
    border-bottom: 1px solid #fff;
}

.admin-panel .admin-header .user-navigation .user-email {
    margin: 0 10px 0 20px;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 1.4px;
}

.admin-panel .admin-header .user-navigation img:first-child {
    margin: 0 35px 0 0;
}

.admin-panel .admin-header .user-navigation i {
    color: #4A998C;
}

/*------------------------------*/
/*filter block*/
/*------------------------------*/
.admin-panel .filter-block {
    width: 100%;
    height: 100px;
    margin: 0 0 35px 0;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    background-color: #1E1E1E;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
}

.admin-panel .filter-block .filter-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.admin-panel .filter-block label {
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 10px;
    letter-spacing: 1.2px;
}

.admin-panel .filter-block .search-btn {
    margin: 0 0 9px 0;
}

/*------------------------------*/
/*CKeditor*/
/*------------------------------*/
.ck-editor {
    border: 1px solid #979797 !important;
}

.ck-toolbar {
    background: #1E1E1E !important;
    border: 0 !important;
}

.ck-rounded-corners .ck.ck-button {
    color: #fff;
    cursor: pointer;
}

.ck-rounded-corners .ck.ck-button.ck-on {
    color: #4A998C;
}

.ck-rounded-corners .ck.ck-button:hover {
    color: #4A998C;
}

.ck-content {
    background: #1E1E1E !important;
    border: 0 !important;
    border-top: 1px solid #979797 !important;
    height: 400px;
}

/*#circle{*/
/*!*background:#f00;*!*/
/*width: 0;*/
/*height: 0;*/
/*border-radius:50%;*/
/*position:absolute;*/

/*-webkit-box-shadow: 0px 0px 200px 100px rgba(255, 255, 255, 0.41);*/

/*transform:translate3d(-50%,-50%,0);*/
/*!*transition:transform 0.2s cubic-bezier(.02,1.23,.79,1.08);*!*/
/*}*/

