.centerArea {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 24% 50% 24%;
    grid-template-areas: "pairInformation pairInformation coins" "market graphic coins" "market graphic orderHistory" "market orders orderHistory" "market marketDepthChart orderHistory" "openOrder openOrder openOrder";

    /*grid-template-columns: 100px 100px 100px;*/
    /*grid-gap: 10px;*/

    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    /*align-items: flex-end;*/
}

.centerArea.desktop {
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.centerArea.mobile {
    display: none;
}

.pair-information {
    grid-area: pairInformation;
    margin: 0 0 25px 0;
}

.marketDepthChart {
    grid-area: marketDepthChart;
    margin: 20px 0 0 0;
    padding: 10px;

    background-color: rgba(7, 3, 10, 0.35);
    border: 1.5px solid rgba(255, 255, 255, 0.1) !important;
    border-radius: 5px;
}

.coins-table td {
    padding: 5px 4px 5px 0 !important;
}

.pair-information .coin-statistics {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.pair-information .coin-statistics > div {
    display: flex;
    flex-direction: column;
}

.pair-information .coin-statistics .label {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1.2px;
    margin: 0 0 5px 0;
}

.pair-information .coin-statistics .value {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.4px;
    line-height: 19px;
}

.current-pair .first {
    font-size: 25px;
    font-weight: bold;
}

.current-pair .second {
    font-size: 15px;

}

.pair-description {
    font-size: 11px;
}

.order-history-block {
    grid-area: orderHistory;
}

.order-history-block .table-block {
    padding: 0.5px;
}

.order-history-block .table-block {
    height: 95%;
}

.order-history-block .ant-tabs-ink-bar {
    width: inherit !important;
}

.order-history-block .trade-history-title {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    height: 5%;
    letter-spacing: 1px;
}

.order-history-block .ant-tabs-nav {
    height: 34px;
    padding: 0 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #313131;
    border: 0.5px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px 5px 0 0;
}

.order-history-block .ant-tabs-tab {
    height: 23px !important;
    width: 64px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    background-color: #000000 !important;
    font-family: Roboto;
}

.order-history-block .ant-tabs-tab.ant-tabs-tab-active {
    background-color: #4A998C !important;
    color: #fff !important;
}

.order-history-block .row-buy-type td:first-child {
    color: #00CE7D !important;
}

.order-history-block .row-sell-type td:first-child {
    color: #DD4457 !important;
}

/*marketDepth component*/
.marketDepth {
    grid-area: market;
}

.marketDepth .ant-table-column-sorter {
    display: none;
}

.marketDepth .buy-table {
    height: 50%;
}

.marketDepth .sell-table {
    height: 50%;
    margin-bottom: 28px;
}

.marketDepth .buy-table tr td:first-child {
    color: #00CE7D;

}

.marketDepth .sell-table tr td:first-child {
    color: #DD4457;
}

.marketDepth .marketDepthTables {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*graphic component*/
.rightSide {
    height: 665px;
    grid-area: graphic;
    background-color: rgba(7, 3, 10, 0.35);
    border: 1.5px solid rgba(255, 255, 255, 0.1) !important;
    border-radius: 5px;
    padding: 0.5px;
}

.rightSide .candlesticks {
    height: 34px;
    display: flex;
    align-items: center;
    background-color: #313131;
    border: 0.5px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px 5px 0 0;
}

.rightSide .ant-radio-group {
    display: flex;
    padding: 0 0 0 5px;
}

.rightSide .candlesticks .ant-radio-button-wrapper {
    height: 20px;
    width: 60px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    line-height: inherit;
    border-radius: 1px;
    background-color: #000000;
    border: 0;
    margin-left: 10px;
    cursor: pointer;
}

.ant-radio-button-wrapper:not(:first-child)::before {
    background-color: #000000 !important;
}

.rightSide .candlesticks .ant-radio-button-wrapper-checked {
    background: #4A998C;
    box-shadow: none !important;
}

/*orders block*/
.orders {
    grid-area: orders;
    width: 100%;
    background-color: rgba(7, 3, 10, 0.73);
    border: 1.5px solid rgba(255, 255, 255, 0.15) !important;
    border-radius: 5px;
    margin: 15px 0 0 0;
    padding: 0.5px;
}

.limits-btn {
    margin: 20px 0 0 0 !important;
}

.orders .ant-tabs-bar {
    border: 0.5px solid rgba(0, 0, 0, 0.7) !important;
    background-color: #313131;
    border-radius: 5px 5px 0 0;
}

.orders .ordersBlock {
    width: 100%;
    height: 355px;
    padding: 20px 30px 35px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.orders .ant-tabs-nav {
    height: 34px;
    padding: 0 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.orders .buy-order {
    width: 50%;
    padding: 0 20px 20px 0;
    border-right: 1px solid #3B3D3E;
}

.orders .ordersBlock input[type='text'] {
    height: 30px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.39);
    margin-right: -1px;
    border-right: 0;
    border-radius: 1px;
    color: #fff !important;
    text-align: left;
    background-color: #000000;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
}

.orders .ordersBlock .ant-input-group-addon {
    color: rgba(255, 255, 255, 0.51);
    height: 30px !important;
    /*width: 20%;*/
    border: 1px solid rgba(255, 255, 255, 0.39);
    border-left: 0;
    border-radius: 1px;
    background-color: #000000;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
}

.orders__item span.ant-input-wrapper.ant-input-group {
    margin-left: auto;
}

.orders .rate-block {
    justify-content: flex-end;
}

.orders .orders__item {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
    margin-top: 15px;
    position: relative;
    /*margin-bottom: 10px;*/
}

.orders .orders__item .name-coin {
    position: absolute;
    right: 5px;
    font-size: 12px;
    color: hsla(0, 0%, 100%, .51);
}

.orders .orders__item input,
.orders .orders__item .fake-input {
    height: 30px;
    width: 100%;
    padding: 0 45px 0 4px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.39);
    border-radius: 1px;
    color: #fff !important;
    text-align: left;
    background-color: #000000;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
}

.orders .orders__item .fake-input {
    color: rgba(255, 255, 255, 0.53) !important;
}

.orders .ant-radio-group {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.orders .order-block-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.orders .order-block-title .total-coins {
    font-weight: normal;
}

.orders .order-block-title .total-coins img {
    margin-right: 10px;
}

.orders .rate-block .ant-radio-button-wrapper {
    height: 26px;
    width: 47px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 7px;
    border: 1px solid rgba(255, 255, 255, 0.39);
    border-radius: 1px;
    background-color: #000000;
    cursor: pointer;
}

.orders .rate-block .ant-radio-button-wrapper:last-child {
    margin: 0 0 0 8px;
}

.orders .ant-radio-button-wrapper-checked {
    background: #4A998C !important;
    box-shadow: none !important;
    border: 0 !important;
}

.orders .ant-radio-button-wrapper:not(:first-child)::before {
    background: rgba(255, 255, 255, 0.39);
}

.orders .sell-order {
    width: 50%;
    padding: 0 0 20px 20px;
}

.orders .order-action-btn {
    width: 100%;
    height: 36px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
    border: 0;
    border-radius: 2px;
    font-weight: bold;
    margin: 47px 0 0 0;
    cursor: pointer;
}

.orders .order-action-btn.order-buy-btn {
    background-color: #00CE7D !important;
    font-weight: normal !important;
}

.orders .order-action-btn.order-sell-btn {
    background-color: #DD4457 !important;
    font-weight: normal !important;
}

.orders .market {
    width: 100%;
    display: flex;
}

.orders .ant-tabs-nav .ant-tabs-tab {
    height: 23px !important;
    width: 82px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 1px !important;
    border: 0 !important;
    background-color: #000000 !important;
    text-align: center;
    margin: 0 0 0 10px !important;
    cursor: pointer;
}

.orders .ant-tabs-nav .ant-tabs-tab-active {
    background: #4A998C !important;
    color: #fff !important;
    font-weight: normal !important;
}

.orders .ant-tabs-ink-bar-animated {
    width: inherit !important;
}

/*coins list component*/
.currencysPairs {
    grid-area: coins;
    margin: 10px 0 0 0;
    padding: 0.5px;
    height: 92%;
}

.currencysPairs .ant-tabs-bar {
    background-color: #313131;
    border: 0.5px solid rgba(0, 0, 0, 0.7) !important;
    border-radius: 5px 5px 0 0;
}

.ant-tabs-nav-container {
    padding: 0 !important;
}

.ant-tabs-tab-prev.ant-tabs-tab-arrow-show, .ant-tabs-tab-next.ant-tabs-tab-arrow-show {
    display: none !important;
}

.currencysPairs tr th span {
    justify-content: center;
    display: flex;
}

.currencysPairs tr td {
    text-align: center;
}

.currencysPairs .ant-table-thead th {
    text-align: center;
}

.currencysPairs .ant-tabs-ink-bar-animated {
    width: inherit !important;
}

.currencysPairs .ant-table-thead th span {
    display: flex !important;
    align-items: center !important;
    /*justify-content: center;*/
}

.currencysPairs .ant-tabs-nav {
    padding: 0 0 3px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.currencysPairs .ant-tabs-nav-container {
    height: max-content !important;
}

.currencysPairs .ant-tabs-bar .ant-tabs-tab {
    height: 23px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000 !important;
    border-radius: 1px !important;
    border: 0 !important;
    color: #fff !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    margin: 5px 7px 5px 0 !important;
    cursor: pointer;
}

.currencysPairs .ant-table-tbody tr {
    cursor: pointer;
}

.currencysPairs .ant-tabs-bar .ant-tabs-tab-active {
    background: #4A998C !important;
}

.ant-table-column-sorter-up.on .anticon-caret-up,
.ant-table-column-sorter-down.on .anticon-caret-up,
.ant-table-column-sorter-up.on .anticon-caret-down,
.ant-table-column-sorter-down.on .anticon-caret-down {
    color: #4A998C;
}

.currencysPairs .selected-coin-row {
    background: rgba(255, 255, 255, 0.15) !important;
}

/*open-orders-block*/
.open-orders-block {
    grid-area: openOrder;
    margin-top: 25px;
}

/*default table style*/
.centerArea .table-block {
    box-sizing: border-box;
    border: 1.5px solid rgba(255, 255, 255, 0.1) !important;
    background-color: rgba(7, 3, 10, 0.35);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.centerArea .table-block .ant-table-header {
    border-bottom: 1px solid #696969 !important;
    padding: 7px 0;
}

.centerArea .table-block .ant-table-header th {
    padding: 10px 0 !important;
}

.centerArea .table-block .table-title {
    height: 34px;
    display: flex;
    align-items: center;
    padding: 0 0 0 24px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #313131;
    border: 0.5px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px 5px 0 0;
}

/*adaptive styles*/
@media (max-width: 1000px) {
    .centerArea {
        grid-template-columns: 50% 50%;
        grid-template-areas: "pairInformation pairInformation" "graphic coins" "graphic coins" "market  orderHistory" "market orders" "openOrder openOrder";
    }

}

@media (max-width: 600px) {
    .w-content {
        padding: 0 0 30px 0 !important;
    }

    .ant-tabs-ink-bar-animated {
        display: none !important;
    }

    .centerArea.desktop {
        display: none;
    }

    .centerArea.mobile {
        display: block;
    }

    .centerArea.mobile .mobile-tab-content {
        padding: 95px 10px 10px 10px;
    }

    /*-------------------------*/
    /*Charts tab*/
    /*-------------------------*/
    .centerArea.mobile .coin-statistics {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .centerArea.mobile .coin-statistics > div {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .centerArea.mobile .mobile-tab-content .fa-caret-down {
        color: #4A998C;
        margin: 0 0 0 5px;
    }

    .centerArea.mobile .coin-statistics .label {
        margin: 0 5px 0 0;
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 1px;
    }

    .centerArea.mobile .coin-statistics .value {
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.2px;
    }

    .centerArea.mobile .ant-tabs-nav {
        height: 35px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #2B2A2A !important;

    }

    .centerArea.mobile .current-pair .first,
    .centerArea.mobile .current-pair .second {
        font-size: 15px;
    }

    .centerArea.mobile .ant-tabs-nav .ant-tabs-tab {
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none !important;
        border-left: 0 !important;
        border-right: 0 !important;
        border-top: 0 !important;
        font-family: Ubuntu;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.4px;
        flex: 1;;
    }

    .centerArea.mobile .ant-tabs-tab-active {
        color: #4A998C !important;
        border-bottom: 3px solid #4A998C !important;
    }

    .rightSide .candlesticks .ant-radio-button-wrapper {
        width: 50px !important;
    }

    .centerArea.mobile .rightSide {
        margin: 10px 0 15px 0;
    }

    .centerArea.mobile .order-history-block .ant-tabs-nav {
        background-color: #313131;
        justify-content: flex-end;
    }

    .centerArea.mobile .order-history-block .ant-tabs-nav .ant-tabs-tab {
        height: 23px;
        width: 64px;
        color: #fff;
        flex: none;
        font-size: 12px !important;
        font-family: Roboto;
        background: #000 !important;
    }

    .centerArea.mobile .order-history-block .ant-tabs-tab.ant-tabs-tab-active {
        background: #4A998C !important;
        color: #fff !important;
    }

    .centerArea.mobile .trade-nav-btn {
        height: 55px;
        position: fixed;
        display: flex;
        justify-content: space-around;
        align-items: center;
        bottom: 0;
        width: 100%;
        right: 0;
        background-color: #1E1E1E;
        z-index: 999;
    }

    .centerArea.mobile .trade-nav-btn .btn {
        width: 45%;
        height: 36px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        box-shadow: none;
    }

    .centerArea.mobile .trade-nav-btn .btn.sell-btn {
        background-color: #DD4457;
    }

    /*-------------------------*/
    /*Trade tab*/
    /*-------------------------*/
    .centerArea.mobile .mobile-trade-block {
        display: flex;
    }

    .centerArea.mobile .mobile-trade-block .ant-tabs-nav .ant-tabs-tab {
        width: 60px;
        height: 23px;
        color: #fff;
        background: #000000 !important;
        flex: none;
        margin-left: 3px;
    }

    .centerArea.mobile .mobile-trade-block .ant-tabs-nav .ant-tabs-tab-active {
        border: 0;
        background: #4A998C !important;
        color: #fff !important;
    }

    .centerArea.mobile .mobile-trade-block .orders.mobile {
        margin: 0 10px 0 0;
        padding: 0 0 10px 0;
        height: max-content;
    }

    .centerArea.mobile .mobile-trade-block .orders.mobile .ordersBlock {
        padding: 20px 10px 35px;
    }

    .centerArea.mobile .mobile-trade-block .orders.mobile span.ant-input-group-wrapper {
        width: 100%;
    }

    .centerArea.mobile .mobile-trade-block .orders__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .centerArea.mobile .mobile-trade-block .orders.mobile .buy-order {
        width: 100%;
        border: 0;
        padding: 0;
    }

    .centerArea.mobile .mobile-trade-block .orders.mobile .sell-order {
        width: 100%;
        border: 0;
        padding: 0;
    }

    /*-------------------------*/
    /*Open orders*/
    /*-------------------------*/
    .centerArea.mobile .title-last-tab {
        margin: 0 0 10px 0;
        opacity: 0.4;
        color: #FFFFFF;
        font-family: Ubuntu;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1.5px;
        line-height: 20px;
    }

    .centerArea.mobile .mobile-version .order-card {
        width: 95%;
        height: 164px;
        margin: 0 auto 20px auto;
        border: 0.5px solid rgba(0, 0, 0, 0.7);
        background-color: rgba(7, 3, 10, 0.35);
    }

    .centerArea.mobile .mobile-version .order-card .header-card {
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        border-radius: 2px 2px 0 0;
        background-color: #38363A;
        font-size: 12px;
    }

    .centerArea.mobile .mobile-version .order-information {
        padding: 30px 5%;
        display: flex;
        justify-content: space-between;
    }

    .centerArea.mobile .mobile-version .order-information .information-item {
        display: flex;
        flex-direction: column;
    }

    .centerArea.mobile .mobile-version .order-information .information-item .label {
        font-family: Roboto;
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 1px;
    }

    .centerArea.mobile .mobile-version .order-information .information-item .value {
        font-family: Roboto;
        font-size: 12px;
        letter-spacing: 1.2px;
    }

    .order-action {
        padding: 0 5%;
        display: flex;
        justify-content: space-between;
    }

    .order-action > div {
        width: 35%;
        height: 24px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-btn {
        background-color: #4A998C;
    }

    .info-btn i {
        margin: 0 0 0 5px;
    }

    .cancel-btn {
        background-color: #D0021B;
        margin-left: auto;
    }

    .ReactModal__Overlay {
        z-index: 10000;
    }

    .ReactModal__Content {
        background: none !important;
    }

    .select-coin-modal {
        width: 100vw !important;
        height: 100vh;
        padding: 20vh 10% !important;
    }

    .select-coin-modal .close-modal-btn {
        right: 10% !important;
        top: 15vh !important;
        font-size: 18px;
        color: #00CE7D;
    }

    .select-coin-modal .ant-tabs {
        border: 1.5px solid rgba(255, 255, 255, 0.1) !important;
        background-color: rgba(7, 3, 10, 0.35);
    }
}