.footer {
    height: 163px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 50px 0 30px 0;
    background-color: #1A1A1A;
}

.footer .footer-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.footer .copyright-block {
    text-align: center;
    font-size: 11px;
    opacity: 0.4;
    margin: 30px 0 0 0;
}

.footer .links a {
    font-size: 12px;
    letter-spacing: 1.2px;
    color: #fff;
}

.footer .links a:hover span,
.footer .links a:hover {
    color: #4A998C;
}

.footer .links.mobile {
    display: none;
}

@media (max-width: 600px) {
    .footer {
        height: auto;
    }

    .footer .links.desktop {
        display: none;
    }

    .footer .links.mobile {
        display: flex;
        flex-direction: row !important;
    }

    .footer .links.mobile > div {
        display: flex;
        flex-direction: column;
    }

    .footer .links.mobile > div a {
        margin: 0 0 20px 0;
        color: #fff;
    }

    .footer .footer-container {
        flex-direction: column-reverse;
    }

    .footer .group img {
        margin: 20px 0 0 0;
    }
}