.login-page {
    position: relative;
    max-width: 706px;
    width: 100%;
    margin: 40px auto;
    padding: 0 0 30px 0;
    box-sizing: border-box;
    border: 1.5px solid rgba(255, 255, 255, 0.35) !important;
    border-radius: 5px;
    background-color: rgba(7, 3, 10, 0.35);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.19);
}

.login-page .login-form {
    width: 65%;
    margin: 0 auto;
}

.login-page .back-btn {
    position: absolute;
    top: 40px;
    left: 25px;
    font-size: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    letter-spacing: 1.5px;
}

.login-page .back-btn i {
    font-size: 20px;
    margin-right: 10px;
}

.login-page .login-form img {
    margin: 25px auto;
    width: 35%;
    display: block;
}

.login-page .login-form .login-title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-page .login-form .login-title-block span {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0 15px;
}

.login-page .login-form .hr-login {
    flex: 1;
    height: 1px;
    background: #979797;
    border: 0;
    opacity: 0.56;
}

.login-page .login-form .login-form-item {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.login-page .login-form .login-form-item label {
    font-family: Helvetica;
    font-size: 12px;
    letter-spacing: 1.2px;
}

.login-page .login-form .reset-password-block {
    width: 100%;
    text-align: right;
}

.login-page .login-form .reset-password-block a {
    color: #4A998C;
}

.login-page .login-form .signUpButton {
    width: 100%;
    border: 0;
    font-size: 15px;
    background: #00CE7D;
    box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.35);
    height: 54px;
    margin: 20px 0 25px 0;
    font-weight: bold;
    cursor: pointer;
}

.havnt-account {
    text-align: center;
}

.havnt-account a {
    color: #ffffff;

}

.login-page .login-form input {
    height: 47px;
    margin: 10px 0 0 0;
    padding: 0 0 0 10px;
}

.login-page .login-form textarea {
    margin: 10px 0 0 0;
}

@media (max-width: 1200px) {
    .registration-page .recaptcha-and-terms {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .login-page {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .login-page {
        border: 0 !important;
        background: none !important;
    }

    .login-page .login-form {
        width: 100% !important;
    }

    .login-form img,
    .login-page .back-btn {
        display: none !important;
    }
}

