.profile-page {

}

.profile-page .page-content {
    display: flex;
    justify-content: space-between;
}

.profile-page .page-title {
    margin: 20px 0;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.4px;
}

.profile-page .user-information {
    width: 49%;
    padding: 60px 40px;
    box-sizing: border-box;
    border: 1px solid #3F4755;
    border-radius: 5px;
    background-color: rgba(7, 3, 10, 0.05);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.19);
}

.profile-page .top {
    display: flex;
    padding: 0 0 40px 0;
    border-bottom: 1px solid #979797;;
}

.profile-page .avatar-block {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-page .avatar-block a {
    padding: 0 15px;
}

.profile-page .avatar-block span {
    margin: 20px 0 0 0;
    display: block;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 1.2px;
    cursor: pointer;
}

.profile-page .user-information .user-name {
    height: max-content;
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.profile-page .user-information .user-name .verification-status {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 20px;
    height: 20px;
    width: 85px;
    border-radius: 4px;
    background-color: #00CE7D;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 1px;
}

.profile-page .user-information .last-login {
    margin: 20px 0 0 0;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 1.2px;
}

.profile-page .user-information .bottom {
    padding: 40px 0 0 20%;
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: 1.5px;
}

.profile-page .user-information .bottom .country {
    margin: 0 0 30px 0;
}

.profile-page .user-information .bottom .phone {
    margin: 0 0 30px 0;
}

.profile-page .user-information .bottom .limits {
    color: #00CE7D;
}

.profile-page .user-settings {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-page .user-settings .authentication-block {
    width: 100%;
    flex: 1;
    margin: 0 0 30px 0;
    padding: 40px 50px;
    box-sizing: border-box;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    border: 1px solid #3F4755;
    border-radius: 5px;
    background-color: rgba(7, 3, 10, 0.05);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.19);
}

.profile-page .user-settings .title-block {
    display: flex;
    align-items: center;
}

.profile-page .img {
    width: 10%;
}

.profile-page .user-settings .title-block span {
    /*margin: 0 0 0 25px;*/
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
}

.profile-page .user-settings .switch-block {
    width: 100%;
    margin: 25px 0;
    display: flex;
    align-items: center;
}

.profile-page .user-settings .switch-block span.title {
    width: 60%;
    margin: 0 0 0 10%;
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: 1.5px;
}

.switch {
    height: 45px !important;
    width: 100px !important;
    border: 2px solid rgba(255, 255, 255, 0.26) !important;
}

.ant-switch:after {
    width: 40px !important;
    height: 39px !important;
    border-radius: 50% !important;
    background-color: #4A998C !important;
}

.ant-switch-checked {
    background-color: #4A998C !important;
}

.ant-switch-checked:after {
    background-color: #fff !important;
}

.qr-authentication-block .qr-code {
    font-size: 12px;
    margin: 0 20px 0 0;
    text-align: center;
}

.qr-authentication-block .qr-code .title {
    margin: 0 0 20px 0;
    text-align: center;
}

.qr-authentication-block .enter-code {
    text-align: center;
    font-size: 12px;
}

.qr-authentication-block .enter-code .title {
    margin: 0 0 20px 0;
}

.qr-authentication-block .enter-code input {
    border: 1px solid #979797;
    background: none;
    font-size: 15px;
    color: #fff !important;
    text-align: center;
    padding: 10px 0;
    margin: 0 0 20px 0;
}

.qr-authentication-block .two-factor-cod-block {
    display: flex;
}

.activate-btn {
    margin: 30px auto 0 auto;
}

.profile-page .user-settings .qr-authentication-block .activate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 173px;
    border-radius: 3px;
    background-color: #4A998C;
    font-size: 12px;
    letter-spacing: 1.2px;
    cursor: pointer;
}

.change-pass-block {
    width: 100%;
    flex: 1;
    padding: 40px 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid #3F4755;
    border-radius: 5px;
    background-color: rgba(7, 3, 10, 0.05);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.19);
}

.change-pass-block span {
    width: 60%;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
}

.change-pass-block .change-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 173px;
    border-radius: 3px;
    background-color: #4A998C;
    font-size: 12px;
    letter-spacing: 1.2px;
    color: #fff;
}

.login-page .send-email-token {
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #4A998C;
}

.changed-pass {
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
}

@media (max-width: 600px) {
    .profile-page .page-content {
        flex-direction: column;
    }

    .profile-page .avatar-block,
    .profile-page .title-block img,
    .profile-page .change-pass-block img {
        display: none;
    }

    .profile-page .top,
    .profile-page .bottom {
        padding-left: 5% !important;
    }

    .profile-page .img {
        width: 0 !important;
    }

    .profile-page .user-settings .switch-block span.title {
        margin: 0 !important;
    }

    .profile-page .user-settings .authentication-block,
    .profile-page .user-settings .change-pass-block {
        padding: 40px 5% !important;
    }

    .profile-page .user-information {
        width: 100%;
        margin: 0 0 30px 0;
        padding: 60px 0;
    }

    .profile-page .user-settings {
        width: 100%;
    }

    .profile-page .user-settings .authentication-block,
    .profile-page .user-settings .change-pass-block {
        padding: 40px 10px;
    }

    .qr-authentication-block .two-factor-cod-block {
        flex-direction: column;
    }

    .qr-authentication-block .two-factor-cod-block .enter-code {
        margin: 20px 0 0 0;
    }
}
