.registration-page .registration-form {
    width: 65%;
    margin: 0 auto;
}

.registration-page .login-form-item {
    margin: 15px 0;
}

.registration-page .login-form-item:first-child {
    margin: 0 0 15px 0 !important;
}

.registration-page .recaptcha-and-terms {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registration-page .terms-of-us {
    font-size: 12px;
    letter-spacing: 1.2px;
    display: flex;
    align-items: center;
}

.registration-page .terms-of-us input {
    width: auto;
    margin: 0 10px 0 0 !important;
}

/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 14px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.two-factor-registration .title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin: 0 0 35px 0;
    border-bottom: 1px solid #979797;
    font-family: Ubuntu;
    font-size: 20px;
    letter-spacing: 2px;
}

.two-factor-registration .description {
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 1.2px;
    margin: 0 0 65px 0;
}

.two-factor-registration .qr-block strong {
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: 1.5px;
}

.two-factor-registration .qr-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.two-factor-registration .create-btn {
    height: 45px;
    width: 173px;
    border-radius: 3px;
    background-color: #4A998C;
    font-family: Roboto;
    font-size: 12px;
    color: #fff;
    letter-spacing: 1.2px;
    margin: 40px auto 0 auto;
}

.two-factor-registration .code-block {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userQrPassInput {
    width: 100%;
    padding: 0 20px !important;
    border: 1px solid #979797;
    background: none;
    font-size: 15px;
    color: #fff !important;
    text-align: center;
}

.two-factor-registration img {
   background: #fff;
    padding: 2px;
}