/*--------------------------------*/
/*pairs list*/
/*--------------------------------*/
.commissions-page {
    display: flex;
}

.commissions-page .pairs-list {
    width: 15%;
    margin: 0 20px 0;
}

.commissions-page .pairs-list .ant-menu {
    background: none;
    border: 0;
}

.commissions-page .pairs-list .ant-menu li {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid #fff;
    border-bottom: 0;
    margin: 0;
}

.commissions-page .pairs-list .ant-menu li:last-child {
    border-bottom: 1px solid #fff;
}

.commissions-page .pairs-list .ant-menu .ant-menu-item-selected {
    background-color: #4A998C;
}

.commissions-page .pairs-list .ant-menu .ant-menu-item-selected::after {
    border: 0;
}

/*--------------------------------*/
/*commission block*/
/*--------------------------------*/
.commissions-value {
    width: 50%;
}

.commissions-value .title-block {
    display: flex;
    justify-content: space-around;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.8px;
}

.commissions-value .item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.commissions-value .item > div {
   width: 60px;
}

.commissions-value hr {
    width: 40px;
    display: block;
    border: 1px solid #979797;
    margin: 0 0 15px 0;
}

.commissions-value hr.arrow-line {
    width: 65px;
    display: block;
    border: 1px solid #979797;
    margin: 0 0 15px 0;
    position: relative;
}

.commissions-value hr.arrow-line:after {
    content:'';
    position: absolute;
    border: 6px solid transparent;
    border-left: 5px solid #979797;
    display: block;
    width: 0;
    z-index: 1;
    top: -6px;
    right: -12px;
}