* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*  ++++++++++++++++=================== antd styles for table ++++++++++++++++===================*/

.ant-table-wrapper {
    zoom: 1;
}

.ant-table-wrapper:before,
.ant-table-wrapper:after {
    content: "";
    display: table;
}

.ant-table-wrapper:after {
    clear: both;
}

.ant-table {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    clear: both;
}

.ant-table-body {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.ant-table-empty .ant-table-body {
    overflow: auto !important;
}

.ant-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    border-radius: 4px 4px 0 0;
}

.ant-table-thead > tr > th {
    background: #fafafa;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    text-align: left;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    border-bottom: 1px solid #e8e8e8;
}

.ant-table-thead > tr > th[colspan] {
    text-align: center;
}

.ant-table-thead > tr > th .anticon-filter,
.ant-table-thead > tr > th .ant-table-filter-icon {
    position: relative;
    margin-left: 8px;
    font-size: 14px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.45);
    -webkit-transition: all .3s;
    transition: all .3s;
    width: 14px;
    font-weight: normal;
    vertical-align: text-bottom;
}

.ant-table-thead > tr > th .anticon-filter:hover,
.ant-table-thead > tr > th .ant-table-filter-icon:hover {
    color: rgba(0, 0, 0, 0.65);
}

.ant-table-thead > tr > th .ant-table-column-sorter + .anticon-filter {
    margin-left: 4px;
}

.ant-table-thead > tr > th .ant-table-filter-selected.anticon-filter {
    color: #1890ff;
}

.ant-table-thead > tr > th.ant-table-column-has-filters {
    overflow: hidden;
}

.ant-table-thead > tr:first-child > th:first-child {
    border-top-left-radius: 4px;
}

.ant-table-thead > tr:first-child > th:last-child {
    border-top-right-radius: 4px;
}

.ant-table-thead > tr:not(:last-child) > th[colspan] {
    border-bottom: 0;
}

.ant-table-tbody > tr > td {
    border-bottom: 1px solid #e8e8e8;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.ant-table-thead > tr,
.ant-table-tbody > tr {
    -webkit-transition: all .3s;
    transition: all .3s;
}

.ant-table-thead > tr.ant-table-row-hover > td,
.ant-table-tbody > tr.ant-table-row-hover > td,
.ant-table-thead > tr:hover > td,
.ant-table-tbody > tr:hover > td {
    background: #e6f7ff;
}

.ant-table-thead > tr:hover {
    background: none;
}

.ant-table-footer {
    padding: 16px 16px;
    background: #fafafa;
    border-radius: 0 0 4px 4px;
    position: relative;
    border-top: 1px solid #e8e8e8;
}

.ant-table-footer:before {
    content: '';
    height: 1px;
    background: #fafafa;
    position: absolute;
    top: -1px;
    width: 100%;
    left: 0;
}

.ant-table.ant-table-bordered .ant-table-footer {
    border: 1px solid #e8e8e8;
}

.ant-table-title {
    padding: 16px 0;
    position: relative;
    top: 1px;
    border-radius: 4px 4px 0 0;
}

.ant-table.ant-table-bordered .ant-table-title {
    border: 1px solid #e8e8e8;
    padding-left: 16px;
    padding-right: 16px;
}

.ant-table-title + .ant-table-content {
    position: relative;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}

.ant-table-bordered .ant-table-title + .ant-table-content,
.ant-table-bordered .ant-table-title + .ant-table-content table,
.ant-table-bordered .ant-table-title + .ant-table-content .ant-table-thead > tr:first-child > th {
    border-radius: 0;
}

.ant-table-without-column-header .ant-table-title + .ant-table-content,
.ant-table-without-column-header table {
    border-radius: 0;
}

.ant-table-tbody > tr.ant-table-row-selected td {
    background: #fafafa;
}

.ant-table-thead > tr > th.ant-table-column-sort {
    background: #f5f5f5;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
    padding: 16px 16px;
    word-break: break-word;
}

.ant-table-thead > tr > th.ant-table-selection-column-custom {
    padding-left: 16px;
    padding-right: 0;
}

.ant-table-thead > tr > th.ant-table-selection-column,
.ant-table-tbody > tr > td.ant-table-selection-column {
    text-align: center;
    min-width: 62px;
    width: 62px;
}

.ant-table-thead > tr > th.ant-table-selection-column .ant-radio-wrapper,
.ant-table-tbody > tr > td.ant-table-selection-column .ant-radio-wrapper {
    margin-right: 0;
}

.ant-table-expand-icon-th,
.ant-table-row-expand-icon-cell {
    text-align: center;
    min-width: 50px;
    width: 50px;
}

.ant-table-header {
    background: #fafafa;
    overflow: hidden;
}

.ant-table-header table {
    border-radius: 4px 4px 0 0;
}

.ant-table-loading {
    position: relative;
}

.ant-table-loading .ant-table-body {
    background: #fff;
    opacity: 0.5;
}

.ant-table-loading .ant-table-spin-holder {
    height: 20px;
    line-height: 20px;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    position: absolute;
}

.ant-table-loading .ant-table-with-pagination {
    margin-top: -20px;
}

.ant-table-loading .ant-table-without-pagination {
    margin-top: 10px;
}

.ant-table-column-sorter {
    position: relative;
    margin-left: 8px;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.45);
}

.ant-table-column-sorter-up,
.ant-table-column-sorter-down {
    display: block;
    width: 14px;
    height: 6px;
    line-height: 6px;
    cursor: pointer;
    position: relative;
}

.ant-table-column-sorter-up:hover .anticon,
.ant-table-column-sorter-down:hover .anticon {
    color: #69c0ff;
}

.ant-table-column-sorter-up.on .anticon-caret-up,
.ant-table-column-sorter-down.on .anticon-caret-up,
.ant-table-column-sorter-up.on .anticon-caret-down,
.ant-table-column-sorter-down.on .anticon-caret-down {
    color: #1890ff;
}

.ant-table-column-sorter-up:after,
.ant-table-column-sorter-down:after {
    position: absolute;
    content: '';
    height: 30px;
    width: 14px;
    left: 0;
}

.ant-table-column-sorter-up:after {
    bottom: 0;
}

.ant-table-column-sorter-down:after {
    top: 0;
}

.ant-table-column-sorter .anticon-caret-up,
.ant-table-column-sorter .anticon-caret-down {
    display: inline-block;
    font-size: 12px;
    font-size: 8px \9;
    -webkit-transform: scale(0.66666667) rotate(0deg);
    -ms-transform: scale(0.66666667) rotate(0deg);
    transform: scale(0.66666667) rotate(0deg);
    line-height: 4px;
    height: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
    display: block;
}

:root .ant-table-column-sorter .anticon-caret-up,
:root .ant-table-column-sorter .anticon-caret-down {
    font-size: 12px;
}

.ant-table-column-sorter-down {
    margin-top: 1.5px;
}

.ant-table-column-sorter .anticon-caret-up {
    margin-top: 0.5px;
}

.ant-table-bordered .ant-table-header > table,
.ant-table-bordered .ant-table-body > table,
.ant-table-bordered .ant-table-fixed-left table,
.ant-table-bordered .ant-table-fixed-right table {
    border: 1px solid #e8e8e8;
    border-right: 0;
    border-bottom: 0;
}

.ant-table-bordered.ant-table-empty .ant-table-placeholder {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}

.ant-table-bordered.ant-table-fixed-header .ant-table-header > table {
    border-bottom: 0;
}

.ant-table-bordered.ant-table-fixed-header .ant-table-body > table {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ant-table-bordered.ant-table-fixed-header .ant-table-body-inner > table {
    border-top: 0;
}

.ant-table-bordered.ant-table-fixed-header .ant-table-placeholder {
    border: 0;
}

.ant-table-bordered .ant-table-thead > tr:not(:last-child) > th {
    border-bottom: 1px solid #e8e8e8;
}

.ant-table-bordered .ant-table-thead > tr > th,
.ant-table-bordered .ant-table-tbody > tr > td {
    border-right: 1px solid #e8e8e8;
}

.ant-table-placeholder {
    position: relative;
    padding: 16px 16px;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

.ant-table-placeholder .anticon {
    margin-right: 4px;
}

.ant-table-pagination.ant-pagination {
    margin: 16px 0;
    float: right;
}

.ant-table-filter-dropdown {
    min-width: 96px;
    margin-left: -8px;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.ant-table-filter-dropdown .ant-dropdown-menu {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 4px 4px 0 0;
}

.ant-table-filter-dropdown .ant-dropdown-menu-without-submenu {
    max-height: 400px;
    overflow-x: hidden;
}

.ant-table-filter-dropdown .ant-dropdown-menu-item > label + span {
    padding-right: 0;
}

.ant-table-filter-dropdown .ant-dropdown-menu-sub {
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.ant-table-filter-dropdown .ant-dropdown-menu .ant-dropdown-submenu-contain-selected .ant-dropdown-menu-submenu-title:after {
    color: #1890ff;
    font-weight: bold;
    text-shadow: 0 0 2px #bae7ff;
}

.ant-table-filter-dropdown .ant-dropdown-menu-item {
    overflow: hidden;
}

.ant-table-filter-dropdown > .ant-dropdown-menu > .ant-dropdown-menu-item:last-child,
.ant-table-filter-dropdown > .ant-dropdown-menu > .ant-dropdown-menu-submenu:last-child .ant-dropdown-menu-submenu-title {
    border-radius: 0;
}

.ant-table-filter-dropdown-btns {
    overflow: hidden;
    padding: 7px 8px;
    border-top: 1px solid #e8e8e8;
}

.ant-table-filter-dropdown-link {
    color: #1890ff;
}

.ant-table-filter-dropdown-link:hover {
    color: #40a9ff;
}

.ant-table-filter-dropdown-link:active {
    color: #096dd9;
}

.ant-table-filter-dropdown-link.confirm {
    float: left;
}

.ant-table-filter-dropdown-link.clear {
    float: right;
}

.ant-table-selection-select-all-custom {
    margin-right: 4px !important;
}

.ant-table-selection .anticon-down {
    color: rgba(0, 0, 0, 0.45);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.ant-table-selection-menu {
    min-width: 96px;
    margin-top: 5px;
    margin-left: -30px;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.ant-table-selection-menu .ant-action-down {
    color: rgba(0, 0, 0, 0.45);
}

.ant-table-selection-down {
    cursor: pointer;
    padding: 0;
    display: inline-block;
    line-height: 1;
}

.ant-table-selection-down:hover .anticon-down {
    color: #666;
}

.ant-table-row-expand-icon {
    cursor: pointer;
    display: inline-block;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 14px;
    border: 1px solid #e8e8e8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #fff;
}

.ant-table-row-expanded:after {
    content: '-';
}

.ant-table-row-collapsed:after {
    content: '+';
}

.ant-table-row-spaced {
    visibility: hidden;
}

.ant-table-row-spaced:after {
    content: '.';
}

.ant-table-row[class*="ant-table-row-level-0"] .ant-table-selection-column > span {
    display: inline-block;
}

tr.ant-table-expanded-row,
tr.ant-table-expanded-row:hover {
    background: #fbfbfb;
}

.ant-table .ant-table-row-indent + .ant-table-row-expand-icon {
    margin-right: 8px;
}

.ant-table-scroll {
    overflow: auto;
    overflow-x: hidden;
}

.ant-table-scroll table {
    width: auto;
    min-width: 100%;
}

.ant-table-body-inner {
    height: 100%;
}

.ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body {
    position: relative;
    background: #fff;
}

.ant-table-fixed-header .ant-table-body-inner {
    overflow: scroll;
}

.ant-table-fixed-header .ant-table-scroll .ant-table-header {
    overflow: scroll;
    padding-bottom: 20px;
    margin-bottom: -20px;
}

.ant-table-fixed-left,
.ant-table-fixed-right {
    position: absolute;
    top: 0;
    overflow: hidden;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
    border-radius: 0;
}

.ant-table-fixed-left table,
.ant-table-fixed-right table {
    width: auto;
    background: #fff;
}

.ant-table-fixed-header .ant-table-fixed-left .ant-table-body-outer .ant-table-fixed,
.ant-table-fixed-header .ant-table-fixed-right .ant-table-body-outer .ant-table-fixed {
    border-radius: 0;
}

.ant-table-fixed-left {
    left: 0;
    -webkit-box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.15);
    box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.15);
}

.ant-table-fixed-left .ant-table-header {
    overflow-y: hidden;
}

.ant-table-fixed-left .ant-table-body-inner {
    margin-right: -20px;
    padding-right: 20px;
}

.ant-table-fixed-header .ant-table-fixed-left .ant-table-body-inner {
    padding-right: 0;
}

.ant-table-fixed-left,
.ant-table-fixed-left table {
    border-radius: 4px 0 0 0;
}

.ant-table-fixed-left .ant-table-thead > tr > th:last-child {
    border-top-right-radius: 0;
}

.ant-table-fixed-right {
    right: 0;
    -webkit-box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.15);
    box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.15);
}

.ant-table-fixed-right,
.ant-table-fixed-right table {
    border-radius: 0 4px 0 0;
}

.ant-table-fixed-right .ant-table-expanded-row {
    color: transparent;
    pointer-events: none;
}

.ant-table-fixed-right .ant-table-thead > tr > th:first-child {
    border-top-left-radius: 0;
}

.ant-table.ant-table-scroll-position-left .ant-table-fixed-left {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ant-table.ant-table-scroll-position-right .ant-table-fixed-right {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ant-table-middle > .ant-table-title,
.ant-table-middle > .ant-table-footer {
    padding: 12px 8px;
}

.ant-table-middle > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th,
.ant-table-middle > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th,
.ant-table-middle > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th,
.ant-table-middle > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th,
.ant-table-middle > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th,
.ant-table-middle > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th,
.ant-table-middle > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th,
.ant-table-middle > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th,
.ant-table-middle > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td,
.ant-table-middle > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td,
.ant-table-middle > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-tbody > tr > td,
.ant-table-middle > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td,
.ant-table-middle > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-tbody > tr > td,
.ant-table-middle > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-tbody > tr > td,
.ant-table-middle > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td,
.ant-table-middle > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
    padding: 12px 8px;
}

.ant-table-small {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}

.ant-table-small > .ant-table-title,
.ant-table-small > .ant-table-footer {
    padding: 8px 8px;
}

.ant-table-small > .ant-table-title {
    border-bottom: 1px solid #e8e8e8;
    top: 0;
}

.ant-table-small > .ant-table-content > .ant-table-header > table,
.ant-table-small > .ant-table-content > .ant-table-body > table,
.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table,
.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table,
.ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table,
.ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table,
.ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table,
.ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table {
    border: 0;
    padding: 0 8px;
}

.ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th,
.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th,
.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th,
.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th,
.ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th,
.ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th,
.ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th,
.ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th,
.ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td,
.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td,
.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-tbody > tr > td,
.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td,
.ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-tbody > tr > td,
.ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-tbody > tr > td,
.ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td,
.ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
    padding: 8px 8px;
}

.ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th,
.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th,
.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th,
.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th,
.ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th,
.ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th,
.ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th,
.ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th {
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
}

.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table,
.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table,
.ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table,
.ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table,
.ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table,
.ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table {
    padding: 0;
}

.ant-table-small > .ant-table-content .ant-table-header {
    background: #fff;
}

.ant-table-small > .ant-table-content .ant-table-placeholder,
.ant-table-small > .ant-table-content .ant-table-row:last-child td {
    border-bottom: 0;
}

.ant-table-small.ant-table-bordered {
    border-right: 0;
}

.ant-table-small.ant-table-bordered .ant-table-title {
    border: 0;
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}

.ant-table-small.ant-table-bordered .ant-table-content {
    border-right: 1px solid #e8e8e8;
}

.ant-table-small.ant-table-bordered .ant-table-footer {
    border: 0;
    border-top: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}

.ant-table-small.ant-table-bordered .ant-table-footer:before {
    display: none;
}

.ant-table-small.ant-table-bordered .ant-table-placeholder {
    border-left: 0;
    border-bottom: 0;
}

.ant-table-small.ant-table-bordered .ant-table-thead > tr > th:last-child,
.ant-table-small.ant-table-bordered .ant-table-tbody > tr > td:last-child {
    border-right: none;
}

.ant-table-small.ant-table-bordered .ant-table-fixed-left .ant-table-thead > tr > th:last-child,
.ant-table-small.ant-table-bordered .ant-table-fixed-left .ant-table-tbody > tr > td:last-child {
    border-right: 1px solid #e8e8e8;
}

.ant-table-small.ant-table-bordered .ant-table-fixed-right {
    border-right: 1px solid #e8e8e8;
}

/*  ++++++++++++++++=================== antd styles for table ++++++++++++++++===================*/

.header .tabs {
    /*float: left;*/
    /*border-left: 1px solid #06393b;*/
    /*border-right: 1px solid #0b6e74;*/
}

div {
    display: block;
}

.header .tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

a {
    text-decoration: none;
}

.header .tabs ul > li {
    position: relative;
    /*border-left: 1px solid #0b6e74;*/
    /*border-right: 1px solid #06393b;*/
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    display: table-cell;
    color: #ffffff;
    padding: 5px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 64px;
}

.header .tabs a {
    padding: 10px;

    border-bottom: 4px solid transparent;

}

.header .tabs:not(.right) a[activeclassname="active"] {
    border-bottom: 4px solid #4db29c;
}

.header .logo {
    height: 100%;
    padding: 0 5px 0 5px;
    margin-right: 40px;
}

span.title.topLevel .fa {
    margin-left: 5px;
}

a {
    color: #ffffff;
}

.header .tabs.right {
    /*float: right;*/
    margin-left: auto;
    border-right: none;
}

.featureBanner {
    margin-top: 30px;
    padding: 48px 0 48px 0;

    min-height: 200px;
}

.form2col, .form1col {
    overflow: hidden;
    border: none;
    padding: 40px 0 60px 0;
}

.form2col .formWrapper {
    width: 710px;
    height: auto;
    overflow: hidden;
    margin: auto;
}

.form2col .column1 {
    text-align: left;
    width: 318px;
    padding: 0 40px 0 0;
    border-right: 1px solid #cacaca;
}

button.signUpButton {
    border: 1px solid #a26a00;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #f2b644;
    color: #333333;
    display: inline-block;
    /*font-weight: bold;*/
    background-color: #e39706;
    background-image: -webkit-linear-gradient(#e39706, #b17400);
    background-image: linear-gradient(#e39706, #b17400);
    text-decoration: none;
    text-shadow: 0 1px 0 #fda600;
    background-clip: padding-box;
    color: #342201;
    padding: 4px 13px;
    height: 45px;
    font-weight: 700;
    font-size: 20px;
    margin: 12px 0;
}

.sign {
    text-align: left;
    /*padding: 10px;*/
}

.small-text {
    color: #8fa9ce;
    font-size: 16px;
}

.form2col .formWrapper > div {
    display: table-cell;
}

.forgot {
    color: #042f32;
}

.formWrapper label {
    display: table-cell;
    padding-bottom: 10px;
    white-space: nowrap;
    padding-right: 5px;
}

.formWrapper input.userPassInput {
    display: table-cell;
    width: 190px;
}

.form2col .column2 {
    text-align: left;
    width: 360px;
    padding-left: 40px;
}

.form2col div.formHelp {
    display: block;
    width: 710px;
    margin: auto;
    text-align: left;
    margin-bottom: 30px;
}

input, select, textarea {
    border: 1px solid #91abac;
    -webkit-box-shadow: inset 1px 1px 3px #d8e4e5;
    -moz-box-shadow: inset 1px 1px 3px #d8e4e5;
    box-shadow: inset 1px 1px 3px #d8e4e5;
    padding: 2px 4px;
    background-color: #ffffff;
}

.aboveCaptcha select {
    width: 97%;
}

.featureBanner {
    border-bottom: 3px solid #ffab06;
    margin-top: 45px;
}

.featureBanner {
    margin-top: 30px;
    padding: 48px 0 48px 0;
    background-color: #e5f0e6;
    min-height: 200px;
    text-align: center;
}

.home3col {
    padding: 33px 15px 20px 15px;
    text-align: left;
    display: flex;
    justify-content: center;
}

.home3col .column {
    max-width: 365px;
    padding: 20px;
    font-size: 17px;
    font-weight: 300;
}

.centerArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.centerArea-second {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.rightSide {
    /*flex: 1 0 auto;*/
    width: 70%;
    flex: 1 0 auto;
    margin-right: 1rem;
}

.stakan {
    background: rgba(0, 0, 20, 0.53);
    /*flex: 1 0 80rem;*/
    height: 30rem;
}

.side {
    /*float: right;*/
    /*margin: 15px;*/
    /*min-width: 1px;*/
    flex: 0 0 500px;
    width: 30%;

}

.side .box {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

#marketsContainer {
    -webkit-transition: height 3s;
    -moz-transition: height 3s;
    transition: height 3s;
}

.side .box .head {
    position: relative;
    height: 40px;
    width: 100%;
    background-color: #05101e;
    /*border-bottom: 1px solid #0b7076;*/
    font-size: 22px;
    line-height: 40px;
}

.side .box .head .name {
    float: left;
    /*margin: 0 10px;*/
}

.notices {
    font-size: 12px;
    line-height: 16px;
    padding: 18px;
}

.side .box .head .social {
    float: right;
    margin-right: 10px;
    color: #43575e;
}

.notices .msg {
    float: left;
    /*border-bottom: 1px solid #c6d5dc;*/
    width: 100%;
    margin-bottom: 22px;
    /*background: #f9fbfb;*/
}

.notices .msg .info {
    float: left;
    padding: 10px 0 5px;
}

.notices .msg .by {
    float: left;
    clear: left;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 0 10px 0;
}

.section-form {
    justify-content: center;
}

.valueNegative, .sell, .error {
    color: #c02a1d;
    font-size: 15px;
}

body.twofactor .column1 {
    float: left;
}

.footer {
    margin-top: 15px;
    padding: 25px 0;
    background: #212c3b;
}

.footer-container {
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-container > div {
    /*width: 50%;*/
}

.footer .links .group h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.footer .links {
    display: flex;
    align-items: center;
}

.footer .links a {
    margin: 0 25px;
}

.footer .noWrap {

}

.footer .links .group {
}

.footer .meta .group {

}

.footer .meta img {

}

.footer-info {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-info > div {
    /*width: 50%;*/
    margin-right: 30px;
}

.footer-info > div * {
    color: #ffffff;
    font-size: 14px;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    display: block;
}

.footer-info > div > a {

}

.formArea {
    display: inline-block;
    padding: 8px 20px 20px;
    /*background-color: #040606;*/
    background-color: #ffffff;
    justify-content: center;
}

.formArea form {
    display: inline-block;
    padding: 8px 20px 20px;
    background-color: #e5f0e6;
    margin: 0 auto;
    border-radius: 5px;
    text-align: left;
    justify-content: center;
}

.featureBanner.twoCol {
    padding-bottom: 0;
    overflow: hidden;
    border: none;
    padding: 40px 0 60px 0;
}

.featureBanner {
    margin-top: 30px;
    padding: 48px 0 48px 0;
    background-color: #e5f0e6;
    min-height: 200px;
}

.featureBanner.twoCol .contentWrapper {
    width: 840px;
    height: auto;
    overflow: hidden;
    margin: auto;
}

.featureBanner.twoCol .column1 {
    float: left;
    text-align: left;
    width: 450px;
    padding: 0 40px 0 0;
    border-right: 1px solid #cacaca;
}

.featureBanner.twoCol .column2 {
    float: left;
    text-align: left;
    width: 300px;
    padding-left: 40px;
}

.cols {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.col {
    width: 32%;
    margin: 15px 0 10px 0;
    float: left;
    border: 1px solid #91abac;
}

.col .head {
    background-color: #f3f7f7;
    height: 80px;
    position: relative;
    border-bottom: 2px solid #52a159;
}

.col .data {
    background-color: #dcecec;
    background-image: -webkit-linear-gradient(#dcecec, #fff);
    background-image: linear-gradient(#dcecec, #fff);
    width: 100%;
    height: 195px;
    font-size: 12px;
}

#content {
    border-bottom: 3px solid #ffab06;
    background-color: #e5f0e6;
    padding: 40px 10px;
    text-align: center;
}

.notfound {
    text-align: center;
    color: red;
    font-size: large;
    font-weight: bold;
}

.formError {
    color: red;
}

.orderBook {
    width: 100%;
    border: 1px solid #d3e7d9;
    border-collapse: separate;
    border-spacing: 0px;
}

.orderBook th {
    text-align: left;
    background-color: #d3e7d9;
    font-weight: bold;
    padding: 2px 4px 1px 4px;
    border-right: 1px solid #f6fbf6;
}

.orderBook tr:nth-child(odd) {
    background-color: #ffffff;
}

.orderBook td {
    padding: 2px 4px 1px 4px;
    border-right: 1px solid #d3e7d9;
    border-top: 1px solid #d3e7d9;
}

.currencysPairs {
    margin-bottom: 0.5rem;
    border: 4px #EEE;
    background: #05101e;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    /*height: 30rem;*/
    background: #FEFEFE;
    flex: 1 0 auto;
    margin-right: 1rem;
    width: 70%;
    background: transparent;
}

.marketDepth {
    width: 100%;
    order: 2;
    margin: 20px 0;
}

.orders {
    width: 100%;
    order: 1;
    /*margin: 40px 0;*/
}

.orders__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.orders__item-total {
    margin-top: 30px;
    margin-bottom: 30px;
}

.orders__item .ant-input-group-addon {
    background-color: #0b192b;
    flex-basis: 80px;
    text-align: center;
    font-size: 16px;
    padding: 20px 0;
}

.orders__item span.ant-input-wrapper.ant-input-group {
    display: flex;
}

.orders__item .ant-input-group-wrapper {
    flex-basis: 300px;
}

.orders__item .ant-input {
    flex: 1 0;
    padding: 0 5px 0 10px;
    font-size: 16px;
    margin: 0;
}

.ordersBlock .h5 {
    /*border-bottom: 1px solid red;*/
}

.marketDepthColumns {
    margin: 0 0.5rem 0 0.5rem;
    flex: 1 1 auto;
    background: #05101e;
    width: 50%;
}

.ordersBlock {
    width: 33%;
    background: #05101e;
    padding: 0 16px 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

hr.ordersHr {
    background-color: #0d1d36;
    height: 1px;
    border: none;
    margin: 0 -16px 0 -25px;
}

.ant-btn {
    background-color: #00b29c;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: none;
    padding: 10px 35px;
    margin-left: auto;
    display: flex;
}

.orders .ant-btn {
    margin-top: auto;
}

.notices {
    background-color: #05101e;
    flex: 0 0 500px;
    width: 30%;
}

.notices .msg .info {
    color: #738aa8;
    font-size: 14px;
}

.marketDepthChart {
    /*flex-grow: 1;*/
    /*flex-basis: 0;*/
    width: 100%;
    /*height: 15rem;*/
}

.ant-table td {
    white-space: nowrap;
}

.ant-table td {
    white-space: nowrap;
}

.rowClassName {
    color: darkblue;
    font-size: 0.8rem;
    /*height: 0.2rem;*/
}

.pairBarActive {
    background: #DDD;
}

.pairBar {
    background: #EFEFEF;
    margin-bottom: 0.25rem;
    padding-left: 0.25rem;
    cursor: pointer;
}

.pairBar:hover {
    background: #FFF;
}

tbody tr:nth-child(odd) {
    background-color: #EEEEFE;
}

.custom__tr {
    background-color: #0d1d36;
}

.custom__tr td, .custom__tr td * {
    color: #ffffff;
    font-size: 14px;
}

body {
    background-image: url('./img/bg.png') !important;
}

.wrapper-all {
    padding: 0 1rem;
}

.padding {
    padding: 0 1rem;
}

.custom__tr:nth-child(odd) {
    background: #05101e;
}

body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th {
    background: #0d1d36 !important;
    color: #ffffff;
    text-align: center;
}

body .ant-table-placeholder {
    background: #05101e;
    color: #ffffff;
}

body tr, td, th {
    border: none !important;
    border-radius: 0px !important;
}

body .ant-table-thead > tr.ant-table-row-hover > td, body .ant-table-tbody > tr.ant-table-row-hover > td, body .ant-table-thead > tr:hover > td, body .ant-table-tbody > tr:hover > td {
    background: #223c65;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #ffffff;
    margin-top: 0;
}

.h1 {
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 0;
}

body h5 {
    font-size: 30px;
    padding: 15px 20px;
    margin-bottom: 0px;
    font-weight: 100;
    color: #ffffff;
    display: block;
}

.h5 {
    font-size: 30px;
    padding: 15px 20px;
    margin-bottom: 0px;
    font-weight: 100;
    color: #ffffff;
    display: block;
}

body .ant-table {
    border: none;
}

body .ant-table-thead td {
    border-radius: 0px;
}

body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td, body body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
    padding: 14px 8px;
}

.card-container-head {
    padding: 18px;
}

body .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    background: #0d1d36;
    color: #374f72;
    border-radius: 6px;
    border-color: transparent;
    display: inline-block;
    padding: 14px 22px;
    margin: 0 2px;
}

body .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    background: #00b29c;
    color: #ffffff;
}

body .ant-tabs-bar {
    border-bottom: none;
    margin-bottom: 10px;
}

body .ant-tabs-bar {
    padding: 0 10px;
}

.pairBar {
    padding: 10px 4px;
    background: #05101e;
    color: #ffffff;
    font-size: 14px;
}

.pairBar:nth-child(odd) {
    background: #0d1d36;
}

.pairBar:hover {
    background: #223c65;
}

.ant-table-small > .ant-table-content .ant-table-header {
    background: #05101e;
}

.notices .head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.marketDepthTables {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 40px;
}

.ordersTables {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.fullHeight {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 40px;
}

/*.orders {*/
/*flex: 0 1 100%;*/
/*padding: 1rem;*/
/*}*/

.ant-tabs-tabpane.ant-tabs-tabpane-inactive {
    display: none;
}

input {
    background-color: #0d1d36;
    border: none;
    border-radius: 0;
    color: #ffffff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.twitter-icon {
    background-image: url('./img/twitter.png');
    display: block;
    width: 20px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
}

.candlesticks{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
body .ant-radio-button-wrapper {
    margin: 0;
    height: auto;
    line-height: inherit;
    color: #ffffff;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-left: 0;
    border-top-width: 1.02px;
    background: #05101e;
    padding: 6px 16px;
    position: relative;
}
body .ant-radio-button-wrapper-checked{
    border-color: #ffffff;
    background: #0d1d36;
    color: #ffffff;
    box-shadow: inherit;
    z-index: 1;
    font-weight: bold;
}
body .ant-radio-button-wrapper:not(:first-child)::before{
    display: none;
}
body .ant-radio-button-wrapper-checked:hover {
    border-color: #ffffff;
    box-shadow: inherit;
    color: #ffffff;
    font-weight: bold;
}
body .ant-radio-button-wrapper-checked:first-child{
    border-color: #ffffff;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
/*1800*/

@media (max-width: 1800px) and (max-device-width: 1800px) {
    .side {
        flex-basis: 380px;
    }

    .notices {
        flex-basis: 380px;
    }
}

@media (max-width: 1680px) and (max-device-width: 1680px) {

    body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td, body body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
        padding: 14px 2px;
        font-size: 12px;
        text-align: center;
    }
}

@media (max-width: 1450px) and (max-device-width: 1450px) {
    .orders__item .ant-input-group-wrapper {
        flex-basis: 260px;
    }

    .main-content {
        width: 100%;
    }

    .notices {
        width: 100%;
        margin-left: auto;
        margin-top: 20px;
    }

    .rightSide {
        width: 80%;
        order: 2;
    }

    .side {
        width: 100%;
        order: 1;
        margin-left: auto;
    }
}

@media (max-width: 1200px) and (max-device-width: 1200px) {

    .orders__item .ant-input-group-wrapper {
        flex-basis: 100%;
        margin-top: 4px;
    }

}

@media (max-width: 1050px) and (max-device-width: 1050px) {
    body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td, body body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
        padding: 14px 1px;
        font-size: 10px;
        text-align: center;
    }

}

@media (max-width: 992px) and (max-device-width: 992px) {
    .marketDepthColumns {
        width: 100%;
    }

    .marketDepthTables {
        flex-wrap: wrap;
    }

    .notices {
        flex-basis: 100%;
    }

    .side {
        flex-basis: 100%;
    }

    .ordersTables {
        flex-wrap: wrap;
    }

    .ordersBlock {
        width: 100%;
        margin-bottom: 40px;
    }

    .orders__item .ant-input-group-wrapper {
        flex-basis: 60%;
    }

    .ant-btn {
        padding: 14px 40px;
    }

    span {
        font-size: 18px;
    }

    body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td, body body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
        font-size: 14px;
    }
    .footer-container > div {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .meta{
        margin-top: 25px;
    }
}

@media (max-width: 768px) and (max-device-width: 768px) {

    body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td, body body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
        font-size: 12px;
    }

}

@media (max-width: 500px) and (max-device-width: 500px) {

    .ant-table-wrapper {
        zoom: 1;
        border: 1px solid #ffffff63;
    }

    .marketDepthColumns {
        margin: 0;
    }

    .orders__item .ant-input-group-wrapper {
        flex-basis: 100%;
    }

    .ordersBlock {
        padding: 10px;
    }

    body .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
        padding: 14px;
    }
}

/*}*/