* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header .tabs {
    float: left;
    border-left: 1px solid #06393b;
    border-right: 1px solid #0b6e74;
}

div {
    display: block;
}

.header .tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

.header .tabs ul > li {
    position: relative;
    border-left: 1px solid #0b6e74;
    border-right: 1px solid #06393b;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    text-shadow: 0 1px 1px #06393b;
    display: table-cell;
    color: #ffffff;
    padding: 5px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.header {
    width: 100%;
    height: 45px;
    float: left;
    background-color: #042f32;
    border-bottom: 1px solid rgb(3, 30, 33);
}

.header .logo {
    float: left;
    height: 100%;
    background-color: #042f32;
    padding: 0 5px 0 5px;
}

a {
    color: #ffffff;
}

.header .tabs.right {
    float: right;
    border-right: none;
}

.featureBanner {
    margin-top: 30px;
    padding: 48px 0 48px 0;

    min-height: 200px;
}

.form2col, .form1col {
    overflow: hidden;
    border: none;
    padding: 40px 0 60px 0;
}

.form2col .formWrapper {
    width: 710px;
    height: auto;
    overflow: hidden;
    margin: auto;
}

.form2col .column1 {
    text-align: left;
    width: 318px;
    padding: 0 40px 0 0;
    border-right: 1px solid #cacaca;
}

button.signUpButton {
    border: 1px solid #a26a00;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #f2b644;
    color: #333333;
    display: inline-block;
    /*font-weight: bold;*/
    background-color: #e39706;
    background-image: -webkit-linear-gradient(#e39706, #b17400);
    background-image: linear-gradient(#e39706, #b17400);
    text-decoration: none;
    text-shadow: 0 1px 0 #fda600;
    background-clip: padding-box;
    color: #342201;
    padding: 4px 13px;
    height: 45px;
    font-weight: 700;
    font-size: 20px;
    margin: 12px 0;
}

.sign {
    text-align: left;
    /*padding: 10px;*/
}
.small-text{
    color:#8fa9ce;
    font-size: 16px;
}
.form2col .formWrapper > div {
    display: table-cell;
}

.forgot {
    color: #042f32;
}

.formWrapper label {
    display: table-cell;
    padding-bottom: 10px;
    white-space: nowrap;
    padding-right: 5px;
}

.formWrapper input.userPassInput {
    display: table-cell;
    width: 190px;
}

.form2col .column2 {
    text-align: left;
    width: 360px;
    padding-left: 40px;
}

.form2col div.formHelp {
    display: block;
    width: 710px;
    margin: auto;
    text-align: left;
    margin-bottom: 30px;
}

input, select, textarea {
    border: 1px solid #91abac;
    -webkit-box-shadow: inset 1px 1px 3px #d8e4e5;
    -moz-box-shadow: inset 1px 1px 3px #d8e4e5;
    box-shadow: inset 1px 1px 3px #d8e4e5;
    padding: 2px 4px;
    background-color: #ffffff;
}

.aboveCaptcha select {
    width: 97%;
}

.featureBanner {
    border-bottom: 3px solid #ffab06;
    margin-top: 45px;
}

.featureBanner {
    margin-top: 30px;
    padding: 48px 0 48px 0;
    background-color: #e5f0e6;
    min-height: 200px;
    text-align: center;
}

.home3col {
    padding: 33px 15px 20px 15px;
    text-align: left;
    display: flex;
    justify-content: center;
}

.home3col .column {
    max-width: 365px;
    padding: 20px;
    font-size: 17px;
    font-weight: 300;
}

.centerArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.centerArea-second{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.rightSide {
    /*flex: 1 0 auto;*/
    /*width: 70%;*/
    flex: 1 0 auto;
    margin-right: 1rem;
}

.stakan {
    background: rgba(0, 0, 20, 0.53);
    /*flex: 1 0 80rem;*/
    height: 30rem;
}

.side {
    /*float: right;*/
    /*margin: 15px;*/
    /*min-width: 1px;*/
    flex: 0 0 500px;
    /*width: 30%;*/

}

.side .box {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

#marketsContainer {
    -webkit-transition: height 3s;
    -moz-transition: height 3s;
    transition: height 3s;
}

.side .box .head {
    position: relative;
    height: 40px;
    width: 100%;
    background-color: #05101e;
    /*border-bottom: 1px solid #0b7076;*/
    font-size: 22px;
    line-height: 40px;
}

.side .box .head .name {
    float: left;
    /*margin: 0 10px;*/
}

.notices {
    font-size: 12px;
    line-height: 16px;
    padding: 18px;
}

.side .box .head .social {
    float: right;
    margin-right: 10px;
    color: #43575e;
}

.notices .msg {
    float: left;
    /*border-bottom: 1px solid #c6d5dc;*/
    width: 100%;
    margin-bottom: 22px;
    /*background: #f9fbfb;*/
}

.notices .msg .info {
    float: left;
    padding: 10px 0 5px;
}

.notices .msg .by {
    float: left;
    clear: left;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 0 10px 0;
}

.section-form {
    justify-content: center;
}

.valueNegative, .sell, .error {
    color: #c02a1d;
    font-size: 15px;
}

body.twofactor .column1 {
    float: left;
}

.footer {
    background-color: #031c1e;
    background-image: -webkit-linear-gradient(#031c1e, #04272a 10px);
    background-image: linear-gradient(#031c1e, #04272a 10px);
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    color: #43575e;
    font-size: 12px;
    padding: 60px 15px 120px;
    max-width: 100%;
    margin: 0 auto;

}

.footer .links {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    font-size: 30px;
}

.footer .noWrap {
    white-space: nowrap;
}

.footer .links .group {
    margin: 0 30px 12px 70px;
}

.footer .meta .group {
    border-left: 3px solid #36464b;
    padding-left: 8px;
    margin-right: 100px;
}

.footer .meta img {
    margin-top: 20px;
    width: 160px;
    opacity: 0.5;
}

.formArea {
    display: inline-block;
    padding: 8px 20px 20px;
    /*background-color: #040606;*/
    background-color: #ffffff;
    justify-content: center;
}

.formArea form {
    display: inline-block;
    padding: 8px 20px 20px;
    background-color: #e5f0e6;
    margin: 0 auto;
    border-radius: 5px;
    text-align: left;
    justify-content: center;
}

.featureBanner.twoCol {
    padding-bottom: 0;
    overflow: hidden;
    border: none;
    padding: 40px 0 60px 0;
}

.featureBanner {
    margin-top: 30px;
    padding: 48px 0 48px 0;
    background-color: #e5f0e6;
    min-height: 200px;
}

.featureBanner.twoCol .contentWrapper {
    width: 840px;
    height: auto;
    overflow: hidden;
    margin: auto;
}

.featureBanner.twoCol .column1 {
    float: left;
    text-align: left;
    width: 450px;
    padding: 0 40px 0 0;
    border-right: 1px solid #cacaca;
}

.featureBanner.twoCol .column2 {
    float: left;
    text-align: left;
    width: 300px;
    padding-left: 40px;
}

.cols {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.col {
    width: 32%;
    margin: 15px 0 10px 0;
    float: left;
    border: 1px solid #91abac;
}

.col .head {
    background-color: #f3f7f7;
    height: 80px;
    position: relative;
    border-bottom: 2px solid #52a159;
}

.col .data {
    background-color: #dcecec;
    background-image: -webkit-linear-gradient(#dcecec, #fff);
    background-image: linear-gradient(#dcecec, #fff);
    width: 100%;
    height: 195px;
    font-size: 12px;
}

#content {
    border-bottom: 3px solid #ffab06;
    background-color: #e5f0e6;
    padding: 40px 10px;
    text-align: center;
}

.notfound {
    text-align: center;
    color: red;
    font-size: large;
    font-weight: bold;
}

.formError {
    color: red;
}

.orderBook {
    width: 100%;
    border: 1px solid #d3e7d9;
    border-collapse: separate;
    border-spacing: 0px;
}

.orderBook th {
    text-align: left;
    background-color: #d3e7d9;
    font-weight: bold;
    padding: 2px 4px 1px 4px;
    border-right: 1px solid #f6fbf6;
}

.orderBook tr:nth-child(odd) {
    background-color: #ffffff;
}

.orderBook td {
    padding: 2px 4px 1px 4px;
    border-right: 1px solid #d3e7d9;
    border-top: 1px solid #d3e7d9;
}

.currencysPairs {
    margin-bottom: 0.5rem;
    border: 4px #EEE;
    background: #05101e;
}

.marketDepth {
    display: flex;
    height: 30rem;
    background: #FEFEFE;
    flex: 1 0 auto;
    margin-right: 1rem;
}

.marketDepthColumns {
    margin: 0 0.5rem 0 0.5rem;
    flex: 1 1 auto;
}

.notices {
    background-color: #05101e;
    flex: 0 0 500px;
}

.notices .msg .info {
    color: #738aa8;
    font-size: 14px;
}



.ant-table td {
    white-space: nowrap;
}

.rowClassName {
    color: darkblue;
    font-size: 0.8rem;
    /*height: 0.2rem;*/
}

.pairBarActive {
    background: #DDD;
}

.pairBar {
    background: #EFEFEF;
    margin-bottom: 0.25rem;
    padding-left: 0.25rem;
    cursor: pointer;
}

.pairBar:hover {
    background: #FFF;
}

tbody tr:nth-child(odd) {
    background-color: #EEEEFE;
}

.custom__tr {
    background-color: #0d1d36;
}

.custom__tr td, .custom__tr td * {
    color: #ffffff;
    font-size: 14px;
}

body {
    background-image: url('./img/bg.png') !important;
}

.wrapper-all{
    padding: 0 1rem;
}
.padding{
    padding: 0 1rem;
}
.custom__tr:nth-child(odd) {
    background: #05101e;
}

body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th {
    background: #0d1d36 !important;
    color: #ffffff;
    text-align: center;
}

body .ant-table-placeholder {
    background: #05101e;
    color: #ffffff;
}

body tr, td, th {
    border: none !important;
    border-radius: 0px !important;
}

body .ant-table-thead > tr.ant-table-row-hover > td, body .ant-table-tbody > tr.ant-table-row-hover > td, body .ant-table-thead > tr:hover > td, body .ant-table-tbody > tr:hover > td {
    background: #223c65;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #ffffff;
}

.h1 {
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 0px;
}

body h5 {
    font-size: 30px;
    padding: 15px 20px;
    margin-bottom: 0px;
    background: #05101e;
}


.marketDepth {
    background: transparent;
}

body .ant-table {
    border: none;
}

body .ant-table-thead td {
    border-radius: 0px;
}

body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td, body body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
    padding: 14px 8px;
}

.card-container-head {
    padding: 18px;
}

body .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    background: #0d1d36;
    color: #374f72;
    border-radius: 6px;
    border-color: transparent;
}

body .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    background: #00b29c;
    color: #ffffff;
}

body .ant-tabs-bar {
    border-bottom: none;
    margin-bottom: 10px;
}

body .ant-tabs-bar {
    padding: 0 10px;
}

.pairBar {
    padding: 10px 4px;
    background: #05101e;
    color: #ffffff;
    font-size: 14px;
}

.pairBar:nth-child(odd) {
    background: #0d1d36;
}

.pairBar:hover {
    background: #223c65;
}



.ant-table-small > .ant-table-content .ant-table-header {
    background: #05101e;
}

.notices .head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


/*1800*/

@media (max-width: 1800px) and (max-device-width: 1800px) {
    .side {
        flex-basis: 380px;
    }
    .notices{
        flex-basis: 380px;
    }
}

@media (max-width: 1680px) and (max-device-width: 1680px) {

    body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, body .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-tbody > tr > td, body .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td, body body .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
        padding: 14px 2px;
        font-size: 12px;
        text-align: center;
    }


    .marketDepthColumns {
        flex: 0 1;
    }

    /*.rightSide {*/
        /*flex: 1 1;*/
    /*}*/
}

/*@media (max-width: 1400px) and (max-device-width: 1400px) {*/

    /*.rightSide {*/
        /*-ms-flex: 1 1;*/
        /*flex: 1 1;*/
        /*flex-basis: 100%;*/
        /*order: 2;*/
    /*}*/

    /*.side {*/
        /*order: 1;*/
    /*}*/

/*}*/